# 18.04.20

**Authors:** Miron Rogovets, Demid Afonichev, Maxim Shmakov

---

### Task 1. Open _dollar.dta_ file

Dependent variable: _dollar_

Independent variable: _time_

- Use quadratic model to describe the change in the dollar exchange rate over the
considered period.
- Describe parameters of the regression model.
- Do the diagnostics of the model.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pyreadstat

In [4]:
df = pd.read_stata('data/dollar.dta')
print(df.shape)
df.head(3)

(283, 3)

    dollar        date  time
0  32.6587  01.01.2014   1.0
1  33.1547  10.01.2014   2.0
2  33.2062  11.01.2014   3.0

In [2]:
_, meta = pyreadstat.read_dta('data/dollar.dta')
meta.column_names_to_labels

{'dollar': 'dollar exchange rate', 'date': 'date', 'time': None}

### Task 2. Open _datafile.dta_ file

There is data from 2007 to 2016 on 96 federal executive bodies. The task is to identify the
relationship between the level of remuneration of civil servants and various factors.

Dependent variable: _Average monthly salary (salary)_

Independent Variables:
- Number of civil servants (v1)
- Number of vacant positions (v2)
- Number of civil servants with higher education (v3)
- Number of civil servants with 2 or more higher education (v4)
- The number of civil servants who received an additional education (v5)
- Number of male civil servants (v6)
- Number of female civil servants (v7)
- Number of civil servants of retirement age (v8)
- The number of civil servants whose work experience is less than 10 years (v9)
- The number of civil servants whose work experience is from 10 to 25 years (v10)
- The number of civil servants whose work experience is 25 years or more (v11)


1. Select at least 7 independent variables (you can select more or all).
2. Conduct tests to select one of three models:
    - pulled regression model
    - a model with fixed effects
    - and a model with random effects.
    Choose the right model and justify your choice
3. Describe the resulting model as a whole.
4. Describe the relationships between the dependent variable and the predictors (which relationships are significant, which are direct, which are inverse). Draw conclusions from the analysis.
5. Save the individual effects as a separate variable and indicate the names of the federal executive bodies with the greatest and least individual effect.

In [3]:
_, meta = pyreadstat.read_dta('data/datafile.dta')
meta.column_names_to_labels

{'id': 'id',
 'name': 'Name of the Federal Executive Body',
 'year': 'year',
 't': 'year',
 'salary': 'The average monthly salary of a public servant',
 'v1': 'Number of public servants',
 'v2': 'Number of Vacancies',
 'v3': 'Number of public servants with higher education',
 'v4': 'Number of public servants with two or more higher education diplomas',
 'v5': 'Number of public servants who passed special training',
 'v6': 'Number of public servants who are males',
 'v7': 'Number of public servants who are females',
 'v8': 'Number of public servants who are who are at retirement age',
 'v9': 'Number of public servants with woking experience less than 10 years',
 'v10': 'Number of public servants with woking experience from 10 to 25 years',
 'v11': 'Number of public servants with woking experience more than 25 years'}